{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            {{form.staff_id|as_crispy_field}}
        </div>
        <div class="col-md-3">
            {{form.fullname|as_crispy_field}}
        </div>    
        <div class="col-md-3">
            {{form.sex|as_crispy_field}} 
        </div>
        <div class="col-md-3">
            {{form.email|as_crispy_field}}
        </div>
        <div class="col-md-3">
            {{form.address|as_crispy_field}} 
        </div>
        <div class="col-md-3">
            {{form.mobile|as_crispy_field}}
        </div>
        <div class="col-md-3">
            {{form.position|as_crispy_field}}
        </div>
        <div class="col-md-3">
            {{form.department|as_crispy_field}}
        </div>   
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'staff/staffrec_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>
{% endblock content %}