{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
CREAM SALES FORM
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            {{form.date|as_crispy_field}}
        </div>
        <div class="col-md-3">
            {{form.Serial_White_ExLM|as_crispy_field}} 
        </div>
        <div class="col-md-3">
            {{form.Serial_White_Gold_SWM|as_crispy_field}}
        </div>
        <div class="col-md-3">
            {{form.Soft_Flower_LL|as_crispy_field}} 
        </div>
        <div class="col-md-3">
            {{form.Soft_Flower_FC|as_crispy_field}}
        </div>
        <div class="col-md-3">
            {{form.cream_marketer_status|as_crispy_field}}
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'cream/creamsales_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>
{{aacs}}, {{bbcs}}, {{cccs}}, {{ddcs}}, {{eecs}}, {{ffcs}}, {{ggcs}}, {{hhcs}}, {{iics}}
{% endblock content %}